/*ESTILOS FOOTER*/
#footer {
    width: 100%;
    height: auto;
    background-image: linear-gradient (to left, greenyellow, aquamarine, green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 120px;
}

.footer-links ul li {
    display: block;
    text-align: center;
}

.footer-links ul li a:hover {
    color: black;
    border: 2px orange solid;
    padding: 1px;
}

.footer-links ul li a:active {
    color: orangered;
    font-weight: bold;
}

.footer-redes i {
    font-size: 30px;
    gap: 20px;
}