/*ESTILOS MAIN MAYAS*/
.main__mayas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.main__mayas article {
    display: flex;
    justify-content: space-between;
    border: 2px black dotted;
}

.main__mayas div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__mayas button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
}

.picture {
    transition: 1s;
}

.picture:hover {
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 5px 5px goldenrod;
    transition: 1s;
}