

/*(ESTILOS RESET CSS*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 1500px;
    /*border: 1px red solid*/;
    
}


/*ESTILOS BODY*/
#body {
    width: 100%;;
}

/*NAVBAR BTS*/
.navbar {
    height: 80px;
    background-color: aquamarine;
}

.navbar-brand {
    padding-left: 100px;
}

.navBar__logo {
    width: 60px;
}

/*ESTILOS MAIN*/
#main {
    width: 100%;
    min-height: 100vh;
    padding-top: 90px;
    padding: 90px 40px 0 40px;
    background-color: rgba(174, 255, 255, 0.895);
    text-align: center;
}

#main img {
    width: 400px;
    height: 350px;
}

.h1 {
    text-align: center;
    margin: 40px;
    color: rgb(77, 222, 181);
}

.p {
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-left: 1px orange solid;
    margin-left: 40px;
    color: seagreen;
}

/*ESTILOS MAIN MAYAS*/
.main__mayas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.main__mayas article {
    display: flex;
    justify-content: space-between;
    border: 2px black dotted;
}

.main__mayas div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__mayas button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
}

.picture {
    transition: 2s;
}

.picture:hover {
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 5px 5px rgb(75, 75, 255);
    transition: 1s;
}

/*ESTILOS FORMULARIO*/
#form {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    margin: 0 auto;
    row-gap: 10px;
}

#form input {
    height: 30px;
}

#form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form textarea {
    width: 80%;
    height: 80px;
    resize: none;
}

#form button {
    width: 50px;
    height: 30px;
}


/*ESTILOS FOOTER*/
#footer {
    width: 100%;
    height: auto;
    background-color: rgb(176, 243, 131);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 120px;
}

.footer-links ul li {
    display: block;
    text-align: center;
}


/*MEDIA QUERIES*/

@media screen and (max-width:950px) {
    .main__mayas article {
        width: 100%;
        flex-direction: column;
    }

    .main__mayas img {
        width: 100% !important;
    }

    #form {
        width: 100%;
    }

}



